*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#12003d;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    overflow-x:hidden;
}

.container{
    width:390px;
    min-height:100vh;
    background:#140041;
    color:#fff;
    padding:25px;
    position:relative;
    overflow:hidden;
}

header{
    display:flex;
    align-items:center;
    gap:20px;
    margin-bottom:30px;
}

.back-btn{
    width:55px;
    height:55px;
    border:none;
    border-radius:15px;
    background:#3b246d;
    color:white;
    font-size:22px;
    cursor:pointer;
    transition:.3s;
}

.back-btn:hover{
    background:#7b3ff6;
}

header h2{
    font-size:34px;
    font-weight:700;
}

.hero{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:20px;
    margin-top:-30px;
}

.hero img{
    width:280px;
    max-width:100%;
    height: 150px;
    animation:float 3s ease-in-out infinite;
}

@keyframes float{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-12px);
    }

    100%{
        transform:translateY(0px);
    }

}

.content{
    text-align:center;
}

.content h1{
    font-size:20px;
    line-height:1;
    margin-bottom:45px;
}

.content p{
    color:#d4d4d4;
    font-size:17px;
    line-height:1;
    margin-bottom:75px;
}

.start-btn{
    width:100%;
    height:55px;
    border:none;
    border-radius:18px;
    background:linear-gradient(90deg,#7a3df2,#9a52ff);
    color:#fff;
    font-size:24px;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 10px 25px rgba(146,78,255,.35);
    margin-bottom:40px;
}

.start-btn:hover{
    transform:translateY(-3px);
}

.bottom-nav{
    position:absolute;
    left:20px;
    right:20px;
    bottom:20px;

    height:78px;

    background:#241053;

    border-radius:25px;

    display:flex;

    justify-content:space-around;

    align-items:center;

    border:1px solid rgba(255,255,255,.08);
}

.bottom-nav a{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-decoration:none;
    color:#fff;
    font-size:14px;
    gap:8px;
}

.bottom-nav i{
    font-size:24px;
}

.bottom-nav a.active{
    color:#9d54ff;
}

.bottom-nav a:hover{
    color:#9d54ff;
}

@media(max-width:430px){

.container{
width:100%;
padding:20px;
}

header h2{
font-size:28px;
}

.hero img{
width:240px;
}

.content h1{
font-size:31px;
}

.content p{
font-size:17px;
}

.start-btn{
height:60px;
font-size:22px;
}

.bottom-nav{
left:10px;
right:10px;
}

}