*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#09002f;

display:flex;

justify-content:center;

padding:40px 15px;

color:white;

}

.quiz-container{

width:100%;

max-width:430px;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.back-btn{

width:55px;

height:55px;

border:none;

border-radius:14px;

background:#2b1b67;

color:white;

font-size:20px;

cursor:pointer;

}

.count{

background:#33246e;

padding:12px 18px;

border-radius:12px;

font-size:22px;

font-weight:bold;

}

.progress{

height:14px;

background:#3a3362;

border-radius:30px;

overflow:hidden;

margin:30px 0;

}

.progress-fill{

width:7%;

height:100%;

background:#8d3cff;

border-radius:30px;

transition:.4s;

}

.question-area h1{

font-size:42px;

line-height:1.2;

margin-bottom:15px;

}

.question-area span{

color:#8d3cff;

}

.question-area p{

font-size:20px;

opacity:.85;

margin-bottom:30px;

}

.answers{

display:flex;

flex-direction:column;

gap:18px;

}

.answer{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px;

border:2px solid rgba(255,255,255,.15);

background:#211255;

border-radius:18px;

cursor:pointer;

transition:.3s;

}

.answer:hover{

border-color:#8d3cff;

}

.answer.active{

border:2px solid white;

}

.answer span{

width:90%;

font-size:20px;

}

.radio{

width:30px;

height:30px;

border-radius:50%;

border:3px solid #8d3cff;

}

.answer.active .radio{

background:white;

box-shadow:0 0 0 5px #8d3cff inset;

}

#nextBtn{

margin-top:30px;

width:100%;

height:65px;

border:none;

border-radius:16px;

background:linear-gradient(90deg,#8d3cff,#a855ff);

color:white;

font-size:24px;

cursor:pointer;

display:flex;

justify-content:center;

align-items:center;

gap:15px;

}

.skip-btn{

width:100%;

margin-top:20px;

background:none;

border:none;

color:white;

font-size:22px;

cursor:pointer;

}

/* Tablet */

@media(max-width:768px){

.question-area h1{

font-size:34px;

}

.answer span{

font-size:18px;

}

}

/* Mobile */

@media(max-width:500px){

body{

padding:20px;

}

.question-area h1{

font-size:28px;

}

.question-area p{

font-size:18px;

}

.answer{

padding:18px;

}

.answer span{

font-size:16px;

}

#nextBtn{

height:58px;

font-size:20px;

}

.skip-btn{

font-size:18px;

}

}