*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0d0130;
    display:flex;
    justify-content:center;
}

.container{
    width:390px;
    min-height:100vh;
    color:#fff;
    padding:25px 18px 100px;
}

.header{
    display:flex;
    align-items:center;
    gap:20px;
    margin-bottom:30px;
}

.back-btn{
    width:50px;
    height:50px;
    border:none;
    border-radius:14px;
    background:#30205f;
    color:#fff;
    font-size:20px;
    cursor:pointer;
}

.header h2{
    flex:1;
    text-align:center;
    margin-right:50px;
}

.tabs{
    display:flex;
    gap:15px;
    margin-bottom:25px;
}

.tab{
    flex:1;
    height:48px;
    border-radius:12px;
    border:1px solid rgba(255,255,255,.2);
    background:#24114f;
    color:#fff;
    cursor:pointer;
}

.tab.active{
    background:#7d3cff;
}

.card{
    background:#1b1048;
    border:1px solid rgba(255,255,255,.1);
    border-radius:18px;
    padding:15px;
    margin-bottom:18px;
}

.top{
    display:flex;
    gap:15px;
    align-items:center;
}

.top img{
    width:80px;
    height:80px;
    border-radius:50%;
    object-fit:cover;
}

.info{
    flex:1;
}

.info h3{
    margin-bottom:6px;
}

.info p{
    color:#d5d5d5;
    font-size:14px;
    margin:3px 0;
}

.rating{
    margin-top:8px;
    color:#FFD84D;
}

.bookmark{
    font-size:22px;
    color:#9f5cff;
    cursor:pointer;
    margin-left:305px;
    margin-top:-90px;
    position:absolute;
}

.contact-btn{
    margin-top:15px;
    width:100%;
    height:45px;
    border:none;
    border-radius:12px;
    background:linear-gradient(90deg,#7d3cff,#a35bff);
    color:#fff;
    font-size:16px;
    cursor:pointer;
}

.bottom-nav{
    position:fixed;
    bottom:15px;
    width:360px;
    height:70px;
    background:#1b1048;
    border-radius:20px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.bottom-nav a{
    text-decoration:none;
    color:#fff;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:14px;
}

.bottom-nav i{
    font-size:22px;
    margin-bottom:5px;
}

.bottom-nav .active{
    color:#9f5cff;
}

@media(max-width:420px){

.container{
width:100%;
}

.bottom-nav{
width:95%;
left:50%;
transform:translateX(-50%);
}

}